* {
    font-family: FontAwesome, 'Symbols Nerd Font', JetBrains Mono NF, monospace;
    font-size: 12px;
}

@import "theme.css";

window#waybar {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar>box {
    margin: 3px 0;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

#workspaces {
    background-color: @nextto-color1;
    /* padding: 2px */
}

#workspaces button {
    padding: 0 4px;
    /* margin: 2px 2px; */
    /* border: 1px solid black; */
    /* border-radius: 25px; */
    background-color: @button-normal;
    color: #000000;
    font-weight: normal;
    transition: 500ms;
    border-right: 2px solid black;
    min-width: 20px;
}

#workspaces button * {
    color: #1a1a1a;
    font-size: 18px;
}

#workspaces button:nth-last-child(-n+3) {
    background-color: @button-second;
}

#workspaces button:nth-last-child(-n+3):hover {
    background-color: @hover-second;
}

#workspaces button:hover {
    background-color: @hover-normal;
    font-weight: normal;
    text-shadow: none;
    -gtk-icon-shadow: none;
}

#workspaces button.active {
    background-color: @button-active;
}

#workspaces button.active:hover {
    background-color: @hover-active;
}

#workspaces button.urgent {
    background-color: @button-urgent;
}

#workspaces button.urgent:hover {
    background-color: @hover-urgent;
}

#workspaces button:last-child {
    border-right: 0;
}

#clock,
#pulseaudio,
#tray {
    padding: 0 10px;
    font-size: 14px;
}

#window {
    background-color: @nextto-color1;
    border-radius: 0 10px 10px 0;
    padding: 0 10px;
}

#window * {
    font-size: 14px;
}

#clock {
    background-color: @nextto-color2;
}

#pulseaudio {
    background-color: @nextto-color3;
    color: white;
}

#pulseaudio.muted {
    color: @unlocked;
}

#tray {
    background-color: @nextto-color3;
    padding: 0 10px;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#language {
    padding: 1px 10px 0;
    font-size: 15px;
    font-weight: bold;
    background-color: @nextto-color2;
    color: @text-main;
}

#custom-logo {
    color: @text-main;
    background-color: @center-color;
    font-size: 32px;
    padding: 0 15px;
    text-shadow: 0 0 10px white;
}

#custom-left-out1,
#custom-right-out1 {
    font-size: 32px;
}

#custom-left-out1 {
    color: @center-color;
    margin: 0 1px 0 0;
}

#custom-right-out1 {
    color: @center-color;
    margin: 0 0 0 1px;
}

#cava {
    font-size: 18px;
    background-color: @nextto-color2;
    padding-right: 5px;
    color: white;
}

#mpris {
    background-color: @nextto-color2;
    padding: 2px 10px 0 0;
    font-size: 16px;
}

#custom-right-border {
    min-width: 10px;
    background-color: @nextto-color2;
    border-radius: 10px 0 0 10px;
}
